body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f9;
    margin: 0;
    padding: 0;
    color: #333;
}
h1, h2 {
    color: #2c3e50;
    text-align: center;
}
h1 {
    margin-top: 20px;
    font-size: 2.5em;
}
h2 {
    margin-top: 40px;
    font-size: 1.8em;
}
#start-analysis {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}
#start-analysis:hover {
    background-color: #2980b9;
}
.graph-container {
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
}
#kmeans-graph, #network-graph {
    height: 400px;
    margin: 20px 0;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #3498db;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}